@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Poppins:wght@300;400&display=swap");
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */


.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0px 8px 14px -6px gray;
  /* in case if box shadow is not working on our browser */
  --webkit-box-shadow: 0px 8px 14px -6px gray;
  border-bottom: 0.7px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}
.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}
/* fOOTER CSS */
.footer {
  color: white;
  padding: 25px;
  /* adding stylish backgroundcolor */
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343 black);

  background: linear-gradient(to right, #434343, black);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* PAGE NOT FOUND CSS */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}
.pnf-btn {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* CONTATC */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  ABOUT  */
.about-text {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}





/* #####################################################################################################################################################
 */
/* REGISTER Page */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  flex-direction: column;
  background-color: #23242a;
}

.box {
  margin: 5px;

  position: relative;
  width: 370px;
  height: 730px;
  background: #1c1c1c;
  border-radius: 50px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;
  background: linear-gradient(60deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;
  background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

form {
  position: absolute;
  inset: 2px;
  border-radius: 50px 5px;
  background: #28292d;
  z-index: 10;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
}
.box h2 {
  color: #45f3ff;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
  color: black;
  font-family: "Poppins", sans-serif;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}
input[type="submit"] {
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #45f3ff;
  padding: 5px;
  margin-top: 40px;
  border-radius: 90px;
  font-weight: 600;
  cursor: pointer;
}
input[type="submit"]:active {
  background: linear-gradient(98deg, #45f3ff, #d9138a);
  opacity: 0.8;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.5 em;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #45f3ff;
  transform: translateX(-10px) translateY(-30px);
  font-size: 0.75em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 44px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  margin: 25px 0;
  font-size: 1em;
  color: #8f8f8f;
  text-decoration: none;
}
.links a:hover,
.links a:nth-child(2) {
  color: #45f3ff;
}

.links a:nth-child(2):hover {
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}

.Spinner{
  background-color: #23242a;
}




.btn{
  border-radius: 50px;
  font-size: 13px;
  padding: 8px;
}

.categoryform{
  position: relative;
  background: white;
  border-radius: 0;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif; 
}

.btn2{
  border-radius: 10px
  ;
  padding-left: 15px;
  padding-right: 15px; 
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 12px;
  font-weight: 5;
  font-family: 'Poppins', sans-serif; 
}

.btn3{
  padding: 10px;
  border-radius: 10px
  ;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  border:  2px solid black;



}

.hello{
  font-family: 'Poppins', sans-serif

}

.product_link{
  text-decoration: none;
  color: black !important;
}


/* /font-family: 'Poppins', sans-serif; */ 


.allproducts{
  margin-left: -30%;
  font-family: 'Poppins', sans-serif;
}

.btn4{
  border-radius: 0;
  margin: 10px;
  padding: 5px;
  background: #a6a4bb;
  color: black;
  border-radius: 5px;

}

.card{
  background-color:#2a2c33;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: 2px solid black;
}

.heading{
  margin-left: -15%;
  color: black;
  font-family: 'Poppins', sans-serif;
}
.heading2{
  margin-left: -20%;
  color: black;
  font-family:'Poppins', sans-serif ;

}


.anas{
  font-family: 'Poppins', serif;
}
.mama{
  color: white;
}
.hasnain{
  width: 80px;
  color: black
  ;
  box-shadow: #434343;
  padding: 8px;
  margin-left: 15px;
  margin-top: 10px;
  border: 1px solid black;
  font-family: 'Playfair Display', serif;
  border-radius: 50%;

}

.btn10{
  background-color: rgb(27, 27, 173);
  color: white;
  border-radius: 10px;
  padding: 7px;
  font-size: 10px;
  border: 1px;
}
.btn10:hover{
  background-color: #968bed;
  color: black;
}

.osaf{
  font-family: 'Poppins', serif;
}
.osaf2{
  font-family: 'Poppins', serif;
  margin-left: -30%;
  margin-top: 7%;
}

.osaf3{
  font-family:'Poppins', serif ;
  margin-left: -33%;
}
.osaf4{
  font-family:'Poppins', serif ;
  margin-left: 4%;
}
.osaf5{
  font-family:'Poppins', serif ;
  margin-left: -42%;
}

.btn15{
  border-radius: 0;

margin-right: 240px;
margin-top: 5%;
  padding: 5px;
  background: #a6a4bb;
  color: black;
  border-radius: 5px;
}

.noproducts{
  margin-left: 14%;
}

.productcat{
  font-family:'Poppins', serif ;
}

.usaid{
  margin-top: -5%;
}
.lazzat{
  color: white   !important;
}

.sajid{
  margin-bottom: 10px;
}


/* HOMEPAGE */
.banner-img {
  margin-top: 40px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}

/* 
/PRODUCT DETAIL  */

/* CATEGORY PRODUCT STYLES  */



.btn100{
  color: white;
  background: rgb(75, 66, 66);
  text-decoration: none;
  padding: 20px;
  margin: 80px;
  font-family: 'Poppins', sans-serif; 

  border-radius: 10px;
  border: 5px solid rgb(194, 163, 163);
  width: 100%;
  font-size: 'pop';
  font-size: 14px;
  font-weight: bold;
}

/* 
//CART */
